@model IEnumerable<ZenithWebsite.Models.UserRolesViewModel.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Username)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Email)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Roles)
                </th>
                <td>
                    <a asp-action="AddRole" asp-route-id="@item.Id">Add Roles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>