@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">

    <h2>Events for the Week of @ViewBag.StartOfWeek</h2>

    @if (ViewBag.Week.Count == 0)
    {
        <p>There are no events for this week.</p>
    }

    <table class="table table-bordered ">

        @foreach (var date in ViewBag.Week)
            {
            <tr>
                <td class="bg-success" colspan="4">@date.Key</td>
            </tr>

            foreach (var events in date.Value)
            {
                <tr>
                    <td colspan="1"> @events.EventFrom.ToShortTimeString() - @events.EventTo.ToShortTimeString()</td>
                    <td colspan="4"> @events.Activity.Description</td>
                </tr>
            }

        }
    </table>

</div>
